News on Mail/News to Mail.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        448,
        16
      ],
      "id": "c014a653-b177-47df-8b5a-0fe2a77783cb",
      "name": "When chat message received",
      "webhookId": "9388d840-2730-4dd6-a969-4c119f56c6e1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        16
      ],
      "id": "f4cf8901-a322-4d3a-a22d-8acd8fa3af6c",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        256
      ],
      "id": "197c2dbd-a541-4075-8b8d-7ee370d0f0e7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=tesla&from=2026-02-26&sortBy=publishedAt&apiKey=dde0140146f44632a33f38a2ab5ec904",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        224
      ],
      "id": "d3562a79-8f02-4b9d-aff6-fd777ede823f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "sarvesh2589477@gmail.com",
        "subject": "Ai",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        16
      ],
      "id": "e19ae679-7d42-4682-a744-29f6dd0e6c80",
      "name": "Send a message",
      "webhookId": "3138a6f7-3947-41b8-9176-3dfc41a0bb26",
      "credentials": {
        "gmailOAuth2": {
          "id": "WNkkobBOoBo6QWvS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "c6bbeaeb-f97c-4d62-93f0-6826e86bd6c6",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "ZwnSSnbCt5itk7Sy",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c29a3203-5f79-40bd-8b70-479dccf7f62f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0b67626210ae162eacb8bbbd5d17ea1ee02c85bb60c34848078583a8dd69a1"
  },
  "id": "jzJOHiXaMsZ9zRad",
  "tags": []
}